# Dependências
node_modules/
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Builds
dist/
build/
out/


# OS
Thumbs.db
.DS_Store

# Misc
.cache
.parcel-cache
.next
.nuxt
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
